/* add styles here */

.issue {
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
    background: #ffc;
}

.comment {
    border: 1px solid #555;
    border-radius: 10px;
    padding: 3px;
    background: #eee;
    color: #444;
}

.proposal {
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
    background: #ccf;
}

.indent {
    margin-left: 1in;
}
