/* add styles here */

.issue {
    border: 1px solid black;
    padding: 1ex 0.5em 1ex 1em;
    border-radius: 20px;
    background: #ffc;
}

span.voted, span.unvoted {
    font-size: 18pt;
    margin-right: 0.5em;
    margin-left: 0.5em;
    float: left;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

span.unvoted {
    background: #aaa;
}

.issue span.voted {
    background: #f88;
}

.proposal {
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    background: #cfc;
}

.proposal span.voted {
    background: #88f;
}

.comment {
    border: 1px solid #555;
    border-radius: 10px;
    padding: 3px;
    background: #eee;
    color: #444;
}

.indent {
    margin-left: 0.5in;
    padding-left: 0.5in;
    border-left: 1px dashed black;
}

.hidden {
    display: none;
}

a.contracted {
    color: #44b;
    text-decoration: none;
}

a.expanded {
    color: #44b;
    font-weight: bold;
    text-decoration: none;
}
